<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <ADDomain>wecanhelphack.onmicrosoft.com</ADDomain>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wecanhelphack.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wecanhelphack.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>wecanhelphack</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$wecanhelphack</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True" xmlns="">
          <Destination Path="Data Source=tcp:wecanhelp.database.windows.net,1433;Initial Catalog=WchDb;User ID=dbadmin@wecanhelp;Password=w3c4nH3LP;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GraphExplorerMVC.Models.ApplicationDbContext, GraphExplorerMVC" MigrationConfiguration="GraphExplorerMVC.Migrations.Configuration, GraphExplorerMVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://wecanhelphack.onmicrosoft.com/WebApp-wecanhelphack.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>True</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>4f251825-868e-4ef2-a86b-dc9d6fcdb588</ADClientAPPID>
    <ADClientPassword>Xfl2DRTGXnty//+Xbydai9Jqh0+oxaZpktsAD3lI2BI=</ADClientPassword>
    <ADReplyUrl>https://wecanhelphack.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>ab568576-914f-4640-9924-edea4590d31b</ADTenantId>
    <ADPostLogoutRedirectUri>https://wecanhelphack.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wecanhelp.database.windows.net,1433;Initial Catalog=WchDb;User ID=dbadmin@wecanhelp;Password=w3c4nH3LP;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>